<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Textr: An SMS Web App</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <header><h1>Textr: An SMS Web App</h1></header>
    <section id="main" role="main">
      <p class="intro">Text anybody, anywhere in the world! Just enter
        <ul>
          <li>a full number, beginning with a country code</li>
          <li>a text to send</li>
        </ul>
      and you're good to go!</p>

      <form>
        <!--
        Form input fields w/ button.
        Note input types - browsers on touch devices automatically bring up corresponding keyboard types for improved UX. E.g., type="tel" causes a touch device browser to serve a number pad.
        -->
        <input type="tel" name="number" placeholder="1 (212) 345-6789">
        <input type="text" name="text" placeholder="Hey girl hey">
        <input type="button" alue="Send SMS">
      </form>
    </section>
    <p class="response"></p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
